.display-flex {
  border-radius: 60px;
    display: flex;
    // -webkit-box-pack: justify;
    justify-content: space-between;
    // position: relative;
    // top: 2px;
    width: 160px;
    height: 60px;
    padding: 6px;
    border: 1px solid #ebe5df;
    align-items: center;
}
.align-center {
  // display: block;
  padding-left: 220px;
}
.header {
  background-color: #bebaba;
  border: 1px solid #ebe5df;
  width: 100%;
  padding-left: 0.5rem;
}

// .quantity {
//   margin-top: 5px;
//   margin-right: 10px;
//   margin-left: 10px;
// }
 .button {
  
  // width: 26px;
  border-radius: 40px;
  font-size: 20px;
  align-content: center;
  border: 1px solid #ebe5df;

 }